// Navigation Styles here

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 0;
    
    div {
        a {
            margin-left: 20px;
            text-decoration: none;
            color: black;
        }
        .links {
            width: 60%;
            display: flex;
            justify-content: space-evenly;
        }
    }
}